<!-- MAKE SURE RPLIDAR NODE IS RUNNING -->
<launch>

  <!-- minimal launch -->
  <include file="$(find icclab_turtlebot)/launch/minimal.launch"/>
  
  <!-- move_base -->
  <include file="$(find icclab_turtlebot)/launch/move_base.launch"/>
  
  <!-- did a direct remap instead in /opt/ros/kinetic/share/turtlebot_bringup/launch/includes/kobuki/mobile_base.launch.xml -->
  <!-- republish the imu data topic to imu for cartographer -->
  <!--<arg name="intopic" default="/mobile_base/sensors/imu_data_raw"/>
  <arg name="outtopic" default="/imu"/>
  <node pkg="topic_tools" type="relay" name="relay" args="$(arg intopic) $(arg outtopic)"/>-->
  
  <!-- kinect --><!-- takes up ~150% CPU -->
  <!--include file="$(find icclab_turtlebot)/launch/3dsensor.launch">
    <arg name="rgb_processing" value="false" />
    <arg name="depth_registration" value="false" />
    <arg name="depth_processing" value="false" />
    <arg name="scan_topic" value="/scan3d" />
  </include-->

  <!-- runningNodes for webapp UI-->
  <node pkg="rosnodeinfo" type="nodes.py" name="runningNodes" />

  <!-- Text-to-Speech -->
  <include file="$(find sound_play)/soundplay_node.launch" />

</launch>

