<!-- MAKE SURE RPLIDAR NODE IS RUNNING -->
<launch>

  <!-- minimal launch -->
  <include file="$(find icclab_turtlebot)/launch/minimal.launch"/>

  <!-- move_base -->
  <include file="$(find icclab_turtlebot)/launch/move_base.launch"/>
  
  <!-- kinect -->
  <include file="$(find icclab_turtlebot)/launch/3dsensor.launch">
    <arg name="rgb_processing" value="false" />
    <arg name="depth_registration" value="false" />
    <arg name="depth_processing" value="false" />
    <arg name="scan_topic" value="/scan" />
  </include>

  <!-- runningNodes for webapp UI-->
  <node pkg="rosnodeinfo" type="nodes.py" name="runningNodes" />

  <!-- Text-to-Speech -->
  <include file="$(find sound_play)/soundplay_node.launch" />

</launch>

