<!-- MAKE SURE RPLIDAR NODE IS RUNNING -->
<launch>
 
  <!-- minimal launch -->
  <include file="$(find icclab_turtlebot)/launch/minimal.launch"/>

  <!-- amcl, kinect, map_server, and move_base -->
  <include file="$(find icclab_turtlebot)/launch/amcl_demo.launch"/>

  <!-- runningNodes for webapp UI-->
  <node pkg="rosnodeinfo" type="nodes.py" name="runningNodes" />

</launch>
