<launch>
  
  <!-- Turtlebot 3 -->
  <env name="TURTLEBOT3_MODEL" value="waffle"/>
  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>

  <include file="$(find turtlebot3_bringup)/launch/turtlebot3_robot.launch"/>

  <!-- Realsense camera -->
  <include file="$(find realsense_camera)/launch/r200_nodelet_rgbd.launch"/>

  <!-- Scanse Sweep laser -->
  <include file="$(find sweep_ros)/launch/sweep2scan.launch"/>

  <!-- move_base -->
  <arg name="cmd_vel_topic" default="/cmd_vel" />
  <arg name="odom_topic" default="odom" />
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" />

    <rosparam file="$(find icclab_turtlebot)/param/costmap_common_params_$(arg model).yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find icclab_turtlebot)/param/costmap_common_params_$(arg model)_icclab.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find icclab_turtlebot)/param/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find icclab_turtlebot)/param/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find icclab_turtlebot)/param/move_base_params.yaml" command="load" />
    <rosparam file="$(find icclab_turtlebot)/param/costmap_common_params_waffle_icclab.yaml" command="load" /> 
   
    <remap from="/cmd_vel" to="/cmd_vel"/>
    <remap from="odom" to="$(arg odom_topic)"/> 
 </node> 

  <!-- robot state publisher now running on the cloud --> 
  <!-- include file="$(find turtlebot3_bringup)/launch/turtlebot3_remote.launch" -->
  
</launch>
